:root {
    --ribbon-background-color: rgb(43, 87, 154);
    --minimized-buttons-color: rgb(239, 239, 239);
    --hovered-buttons-minimized-color: rgb(229, 229, 229);
    --background-color: #e2dfdf;
    --font-color: rgb(18, 18, 18);
    --box-shadow: darkslategray;
    background: var(--background-color);
    color: var(--font-color);
}

body {
    font-family: 'Montserrat', sans-serif;
}

b {
    font-weight: 800;
}

button {
    color: var(--font-color);
}

#ribbon {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: var(--ribbon-background-color);
    left: 0px;
    right: 0px;
    top: 0
}

#file-name-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ribbon label {
    font-size: 12px;
    color: var(--background-color);
}

#file-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#format-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


@media only screen and (max-width: 600px) {
    #ribbon button {
        position: relative;
        padding: 0;
    }

    #ribbon button::before {
        background: var(--minimized-buttons-color);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    #ribbon button:hover::before {
        background: var(--hovered-buttons-minimized-color);
    }

    #export-file::before {
        content: '💾';
    }

    #import-file::before {
        content: '📂';
    }

    #italic::before {
        font-family: "Times New Roman", serif;
        font-style: italic;
        content: 'I';
    }

    #bold::before {
        font-weight: 900;
        content: 'B';
    }

    #list::before {
        content: '📜';
    }

    #listitem::before {
        content: '•';
    }
}

#workspace {
    margin-top: 6em;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1em));
    gap: 1em;
    grid-template-rows: 1fr;
}

@media only screen and (max-width: 600px) {
    #workspace {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

textarea {
    color: var(--font-color);
    height: 300px;
    border: 0;
    box-shadow: 0 0 1em var(--box-shadow);
}

#result {
    box-shadow: 0 0 1em var(--box-shadow);
}



